In [2]:
# import all dependencies
import time
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser

Small Satellite Mission of the Year
The first interplanetary CubeSats were recognized by the engineering community with the 2019 Small Satellite Mission of the Year award.
https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17448_ip.jpg
InSight sol 247 (2019-08-07) low -100.4ºC (-148.7ºF) high -26.5ºC (-15.8ºF)
winds from the SSE at 4.6 m/s (10.3 mph) gusting to 16.8 m/s (37.6 mph)
pressure at 7.60 hPa
<table class="tablepress tablepress-id-comp-mars blue-table" id="tablepress-comp-mars"><thead><tr class="row-1"><th class="column-1"><strong>Mars - Earth Comparison</strong></th><th class="column-2"><span class="mars">Mars</span></th><th class="column-3"><span class="earth">Earth</span></th></tr></thead><tbody><tr class="row-2"><td class="column-1">Diameter:</td><td class="column-2"><span class="mars-s">6,779 km</span></td><td class="column-3"><span class="earth-s">12,742 km</span></td></tr><tr class="row-3"><td class="column-1">Mass:</td><td class="column-2"><span class="mars-s">6.39 × 10^23 kg</span></td><td class="column-3"><span class="earth-s">5.97 × 10^24 kg</span></td></tr><tr class="row-4"><td class="column-1">Moons:</td><td class="column-2"><span class="mars-s">2</span></td><td class="column-3"><span class="earth-s">1</span></td></tr><tr class="row-5"><td class="column-1">Distance from Sun:</td><td class="column-2"><span class="mars-s">227,943,824 km</span></td><td class="column-3"><span class="earth-s">149,598,262 km</span></td></tr><tr class="row-6"><td class="column-1">Length of Year:</td><td class="column-2"><span class="mars-s">687 Earth days</span></td><td class="column-3"><span class="earth-s">365.24 days</span></td></tr><tr class="row-7"><td class="column-1">Temperature:</td><td class="column-2"><span class="mars-s">-153 to 20 °C</span></td><td class="column-3"><span class="earth-s">-88 to 58°C</span></td></tr></tbody></table>
Cerberus Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

Small Satellite Mission of the Year
The first interplanetary CubeSats were recognized by the engineering community with the 2019 Small Satellite Mission of the Year award.

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA22892_ip.jpg

InSight sol 246 (2019-08-06) low -99.4ºC (-146.8ºF) high -26.5ºC (-15.7ºF)
winds from the SSE at 5.3 m/s (11.7 mph) gusting to 18.1 m/s (40.4 mph)

<table class="tablepress tablepress-id-comp-mars blue-table" id="tablepress-comp-mars"><thead><tr class="row-1"><th class="column-1"><strong>Mars - Earth Comparison</strong></th><th class="column-2"><span class="mars">Mars</span></th><th class="column-3"><span class="earth">Earth</span></th></tr></thead><tbody><tr class="row-2"><td class="column-1">Diameter:</td><td class="column-2"><span class="mars-s">6,779 km</span></td><td class="column-3"><span class="earth-s">12,742 km</span></td></tr><tr class="row-3"><td class="column-1">Mass:</td><td class="column-2"><span class="mars-s">6.39 × 10^23 kg</span></td><td class="column-3"><span class="earth-s">5.97 × 10^24 kg</span></td></tr><tr class="row-4"><td class="column-1">Moons:</td><td class="column-2"><span class="mars-s">2</span></td><td class="column-3"><span class="earth-s">1</span></td></tr><tr class="row-5"><td class="column-1">Distance from Sun:</td><td class="column-2"><span class="mars-s">227,943,824 km</span></td><td class="column-3"><span class="earth-s">149,598,262 km</span></td></tr><tr class="row-6"><td class="column-1">Length of Year:</td><td class="column-2"><span class="mars-s">687 Earth days</span></td><td class="column-3"><span class="earth-s">365.24 days</span></td></tr><tr class="row-7"><td class="column-1">Temperature:</td><td class="column-2"><span class="mars-s">-153 to 20 °C</span></td><td class="column-3"><span class="earth-s">-88 to 58°C</span></td></tr></tbody></table>

                Facet            Value
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

Cerberus Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg